
    <app-searchbar></app-searchbar>
    <div class="container">
        <div class="row">
            <div class="col-4 offset-4">
                <button class="btn btn-primary" [routerLink]="['../demoform/new']">New</button>
            </div>
            <div class="col-4">
                <button class="btn btn-primary" [routerLink]="['../democart']">Cart</button>
            </div>
        </div>
        <div class="row">
            <div class="col-4" *ngFor="let item of products">
                <div class="row">
                    <a [routerLink]="['/demodetails', item.id]">
                        <img [src]="item.image" alt="" width="200">
                      </a>
                </div>
                <div class="row">
                    {{item.id}}
                </div>
                <div class="row">
                    {{item.description}}
                </div>
                <div class="row">
                    {{item.price}}
                </div>
                <div class="row">
                    <button class="btn btn-primary">Details</button>
                </div>
                <div class="row">
                    <button class="btn btn-primary" [routerLink]="['/demoform/edit', item.id]" >Update</button>
                </div>
                <div class="row">
                    <button class="btn btn-primary" (click)="addCart(item.id)" >Add Cart</button>
                </div>
            </div>
        </div>
    </div>