<div *ngIf="product">
    <div>
        {{product.id}}
    </div>
    <div>
        {{product.description}}
        <input [formControl]="descriptionField" type="text">
        <button *ngIf="descriptionField.valid" (click)="saveChange()">Enviar</button>
    </div>
    <div>
        <img [src]="product.image" alt="" width="400">
    </div>
    <div>
        {{product.title}}
    </div>
    <div>
        <button (click)="addProduct()">Add New Item</button>
    </div>
    <div>
        <button (click)="updateProduct()">Update Item</button>
    </div>
</div>
